<h1>Welcome to your dashboard!</h1>

<p><%= link_to "Create your profile", new_volunteer_path, :class => "btn btn-default btn-xs" %></p>

<div class="row">
  <div class="col-md-6">
    <h1>Your donors:</h1>
    <ul>
    <% if @volunteer.donors.any? %>
      <% @volunteer.donors.each do |donor| %>
        <li><%= link_to donor.name, donor_path(donor) %></li>
        <p><%= donor.phone %> | <%= donor.email %></p>
        
        <% if donor.updates.any? %>
        <p>Recent updates: </p>
        <ul>
          <% donor.updates.each do |update| %>
            <li><%= update.date %> | <%= update.note %> </li>
          <% end %>
        </ul>
        <% end %>
        <br>
        <span id="donor_update_link_<%= donor.id %>"><%= link_to "Add an update", new_update_path, :class => "btn btn-default btn-xs", remote: true %></span>
      <br>
      <hr>
      <% end %>
      </ul>
    <% end %>
  </div>

  <div class="col-md-6">
    <p><%= link_to "Add a new donor", new_donor_path, :class => "btn btn-success btn-lg", id: "new_donor_link", remote: true %></p>
  </div>

</div>
