<% if @volunteer.first_name %>
  <p><%= link_to "Add a new donor", new_donor_path, :class => "btn btn-success btn-lg", id: "new_donor_link", remote: true %></p>

  <% if @volunteer.donors.any? %>
  <h5>Your Donor List</h5>
  <% @volunteer.donors.each do |donor| %>
    <div class="row">
      <div class="col l6">
        <h5><%= link_to donor.name, donor_path(donor) %></h5>
        <% if donor.updates.any? %>
        <p>Recent updates: </p>
        <ul>
          <% donor.updates.each do |update| %>
            <li><%= update.date %> | <%= update.note %> </li>
          <% end %>
        </ul>
        <% end %>
      </div>

      <div class="col l6">
        <span id="donor_update_link_<%= donor.id %>"><%= link_to "Add an update", new_donor_update_path(donor), :class => "waves-effect waves-light btn", remote: true %></span>
      </div>
    </div>
    <hr>
  <% end %>
  <% end %>

  <% else %>
  <%= link_to "Please add your volunteer profile info", edit_volunteer_path(@user.volunteer), :class => "btn btn-default", id: "volunteer_profile_details_link", remote: true %>
  <% end %>
