<h1><%= @volunteer.first_name %></h1>

<span><%= link_to "edit", edit_volunteer_path(@volunteer), :class => "btn btn-warning btn-xs" %></span>
<span><%= link_to "delete", volunteer_path(@volunteer), :class => "btn btn-danger btn-xs",
                             :data => {:confirm => "Are you sure you want to delete this volunteer?",
                                       :method => "delete"} %></span>
<hr>
<h4>Contact info:</h4>
<p><%= @volunteer.phone %></p>
<p><%= @volunteer.email %></p>
<br>
<h4>Address info:</h4>
<p><%= @volunteer.address %></p>
<p><%= @volunteer.city %>, <%= @volunteer.state %> <%= @volunteer.zip %> </p>
