<% if @volunteer.first_name %>
  <p><%= link_to "Add a new donor", new_donor_path, :class => "waves-effect waves-light btn-large", id: "new_donor_link", remote: true %></p>

  <% if @volunteer.donors.any? %>
  <h5>Your Donor List</h5>
  <% @volunteer.donors.each do |donor| %>
    <div class="row">
      <div class="col l6">
        <h5><%= link_to donor.name, donor_path(donor) %></h5>
        <p>Donation status: <%= DonationStatus.find(donor.donation_status_id).description %> </p>
        <% if donor.updates.any? %>
        <p>Recent updates: </p>
        <ul>
          <% donor.updates.each do |update| %>
            <li><%= update.date %> | <%= update.note %> </li>
          <% end %>
        <% end %>
      </ul>
      </div>

      <div class="col l6">
        <span id="donor_update_link_<%= donor.id %>"><%= link_to "Add an update", new_donor_update_path(donor), :class => "waves-effect waves-light btn", remote: true %></span>
      </div>
    </div>
    <hr>
  <% end %>
  <% end %>

  <% else %>
    <h1>Welcome to Auctionary! <br> Let's get started.</h1>
    <%= link_to "Please add your profile details", edit_volunteer_path(@user.volunteer), :class => "waves-effect waves-light btn-large", id: "volunteer_profile_details_link", remote: true %>
  <% end %>
