<%= render "layouts/errors", :object => @donor %>

<%= form_for @donor do |f| %>
  <%= hidden_field :volunteer_id, :value => @volunteer.id %>

  <div class="row">
    <div class="form-group col-md-5">
      <%= f.label :name %>
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-5">
      <%= f.label :business_phone %>
      <%= f.telephone_field :business_phone, :class => "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-5">
      <%= f.label :business_email %>
      <%= f.email_field :business_email, :class => "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-5">
      <%= f.label :address %>
      <%= f.text_field :address, :class => "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-5">
      <%= f.label :city %>
      <%= f.text_field :city, :class => "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-5">
      <%= f.label :state %>
      <%= f.text_field :state, :class => "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-5">
      <%= f.label :zip %>
      <%= f.text_field :zip, :class => "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-5">
      <%= f.label :contact_person %>
      <%= f.text_field :contact_person, :class => "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-5">
      <%= f.label :contact_person_phone %>
      <%= f.telephone_field :contact_person_phone, :class => "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-5">
      <%= f.label :contact_person_email %>
      <%= f.email_field :contact_person_email, :class => "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-5">
      <%= f.label :donation_request_link %>
      <%= f.text_field :donation_request_link, :class => "form-control" %>
    </div>
  </div>

  <%= f.submit :class => "btn btn-success"  %>
<% end %>
