<div class="row">
  <div class="col l4">
    <h2>Donors</h2>
    <p>
    <%= form_tag donors_path, :method => 'get', :class => "form-inline" do %>
      <%= text_field_tag :search, params[:search], :class => "form-control", :placeholder=> "Search donors" %>
      <%= submit_tag "Search", :name => nil, :class => "btn btn-default" %>
    <% end %>
    </p>

    <% if @donors.blank? %>
      <h4>There are no recipes containing the term <%= params[:search] %>.</h4>
    <% end %>

    <ul>
      <% @donors.each do |donor| %>
        <li><%= link_to donor.name, donor_path(donor) %></li>
      <% end %>
    </ul>
  </div>

  <div class="col l8">
    <%= link_to "Add a new donor", new_donor_path, :class => "btn btn-success btn-lg" %>
    <br>
    <br>
    <% if @donors.any? %>
      <div style='width: auto;'>
        <div id="map" style='width: auto; height: 400px;'></div>
      </div>
      <script type="text/javascript">
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers(<%=raw @hash.to_json %>)
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
        });
      </script>
    <% end %>
  </div>
</div>
