<h1><%= @donor.name %></h1>

<span><%= link_to "edit", edit_donor_path(@donor), :class => "btn btn-warning btn-xs" %></span>
<span><%= link_to "delete", donor_path(@donor), :class => "btn btn-danger btn-xs",
                         :data => {:confirm => "Are you sure you want to delete this donor?",
                                   :method => "delete"} %></span>

<hr>
<h4>Assigned Volunteer</h4>
<p><%= @volunteer.first_name %></p>
<br>
<h4>Recent Updates</h4>
<% if @donor.updates.any? %>
<ul>
  <% @donor.updates.each do |update| %>
    <li><%= update.date %> | <%= update.note %> </li>
  <% end %>
</ul>
<% end %>
<br>
<h4>Business contact info:</h4>
<p><%= @donor.business_phone %></p>
<p><%= @donor.business_email %></p>
<br>
<h4>Contact person info:</h4>
<p><%= @donor.contact_person %></p>
<p><%= @donor.contact_person_phone %></p>
<p><%= @donor.contact_person_email %></p>
<br>
<h4>Address info:</h4>
<p><%= @donor.address %></p>
<p><%= @donor.city %>, <%= @donor.state %> <%= @donor.zip %> </p>
<br>
<h4>Donation Request Link</h4>
<p><%= @donor.donation_request_link %></p>
