<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <% if user_signed_in? %>
    <%= link_to "Dashboard", volunteer_path(current_user.volunteer), :class => "brand-logo", :id => "logo-container" %>
    <% else %>
    <%= link_to "Auctionary", root_path, :class => "brand-logo", :id => "nav-header-text" %>
    <% end %>
    <ul class="right hide-on-med-and-down">
      <% if user_signed_in? %>
      <li><%= link_to "Donors", donors_path %></li>
      <li><%= link_to "Edit Account Info", edit_user_registration_path %></li>
      <li><%= link_to "Sign Out", destroy_user_session_path, :method => "delete" %></li>
      <li><%= image_tag current_user.volunteer.photo(:thumb), :class => "nav-avatar" %></li>
    <% else %>
      <li><%= link_to "Sign In", new_user_session_path %></li>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
    <% end %>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <% if user_signed_in? %>
      <li><%= link_to "Donors", donors_path %></li>
      <li><%= link_to "Edit Account Info", edit_user_registration_path %></li>
      <li><%= link_to "Sign Out", destroy_user_session_path, :method => "delete" %></li>
    <% else %>
      <li><%= link_to "Sign In", new_user_session_path %></li>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
    <% end %>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
