<div class="row">
  <div class="col l6">
    <br>
    <%= image_tag @user.volunteer.photo(:thumb) %>
    <h4><%= @user.volunteer.first_name %> <%= @user.volunteer.last_name %></h4>
    <p><%= @user.volunteer.phone %></p>
    <p><%= @user.volunteer.address %></p>
    <p><%= @user.volunteer.city %> <%= @user.volunteer.state %> <%= @user.volunteer.zip %> </p>

    <span><%= link_to "edit", edit_volunteer_path(@user.volunteer), :class => "waves-effect waves-light btn" %></span>
  </div>

  <div class="col l6">
    <h4>Edit Your Account</h4>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

          <%= f.label :password, "Password (leave blank if you don't want to change it)" %>
          <% if @minimum_password_length %>
          <br />
          <label><i><%= @minimum_password_length %> characters minimum</i></label>
          <% end %>
          <%= f.password_field :password, autocomplete: "off" %>

          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>

          <%= f.label :current_password %> <br><label><i>(we need your current password to confirm your changes)</i></label><br />
          <%= f.password_field :current_password, autocomplete: "off" %>

      <div class="actions">
        <%= f.submit "Update", :class => "waves-effect waves-light btn" %>
      </div>
    <% end %>
    <br>
    <%= button_to "Cancel my account", registration_path(resource_name), :class => "waves-effect waves-light btn", data: { confirm: "Are you sure?" }, method: :delete %>
  </div>

</div>
